body {
    height: 100vh;
    background-color: grey;
    /* overflow: hidden; */
    padding: 0%;
    margin: 0%;
  }
  
  .nav {
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    /* padding: 0px 30px; */
  }
  
  .fixed {
     position: fixed;
     width: 100%;
  }
  
  .sidebar {
    height: 100vh;
    background-color: black;
    color: white;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  /* .sidebar nav {
    margin-left: 20px;
  } */
  
  .sidebar a {
     color: white;
     width: 300px;
     text-decoration: none;
     padding-left: 20px ;
  
  }
  
  .sidebar h3 {
     padding: 10px 0px;
  }
  
  .sidebar h3:hover {
     background-color: gray;
  }
  
  /* .sidebar a:hover {
     background-color: gray;
  } */
  
  #menu,
  #cancel {
    border: none;
    background: transparent;
    font-size: 35px;
    font-weight: 900;
    transition: 1s;
  }
  
  #menu:hover {
     transform: rotate(90deg);
  }
  .cancelDiv {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }
  #cancel {
    color: white;
  }
  
  #cancel:hover {
     transform: rotate(360deg);
  }
  
  
  
  .btnDiv button {
    height: 6vh;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0px 10px;
  }
  
  #body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
  }
  
  #events {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
  
  #input {
    padding: 15px 120px;
    outline: none;
    border: none;
    background-color: whitesmoke;
  }
  
  #button {
    padding: 15px 40px;
    border: none;
    margin-left: -4px;
    background-color: black;
    color: white;
  }
  
  #todo {
    overflow-x: auto;
    height: 40vh;
    margin-top: 20px;
  }
  
  #todo div {
    display: flex;
    width: 54vw;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    margin-top: 10px;
  }
  
  #todo button {
    height: 7vh;
    padding: 0px 10px;
    border: none;
  }
  
  #todo h1 {
    margin-left: 5px;
  }
 .left{
    color: rgb(252, 229, 229);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50px;
    padding: 10px;
 }
 .left:hover{
    color: rgb(255, 9, 9);
    background: rgba(0, 0, 0, 0.24) ;
 }
 .dropdown {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 20px;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 0px 10px; */
    /* z-index: 1; */
    text-align: left;
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
    margin-left: -172px;
}
.divModal{
    width: 30%;
    height: 30vh;
    background-color: rgba(211, 207, 207, 0.616);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.modal{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    display: none;
}
.optionDiv{
    height: 18vh;
    display: flex;
    width: 30vw;
    align-items: end;
    justify-content: space-around;
    border-top: 1px solid;
}
.option{
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.692);
    border: none;
    outline: none;
    color: whitesmoke;
    transition: 0.5s;
}

.option:hover{
    opacity: 0.8;
}